.main1{
    width: 100%;
    height:auto;
    margin: auto;
    display: flex;
    background-image: url('../IMG/giay-dan-tuong-the-eight-2140-1-giay-dan-tuong-hoa-van-chim-hoa-van-nhe-trang-kem-839296.jpg');
}
.main-about1{
    flex: 1.8;
    height: auto;
}
a{
    text-decoration: none;
    color: black;
}
.main-about2{
    flex: 1;
    height: 1000px;
    margin: 100px 0px 0 0;
}
.about-text{
    font-size: 50px;
    color: #fffffffc;
    width: 30%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 90px;
    background-color: rgb(190, 78, 78);
    opacity: 95%;
}
.about-date{
    font-size: 38px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 60px;
}
.about-img1{
    background-image: url('../IMG/348355213_1438008157036295_5403033160677209878_n.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 85%;
    margin: auto;
    height: 1500px;
    margin-bottom: 30px;
}
.about-img2{
    background-image:url('../IMG/346132423_104130006024362_2794314194500368881_n.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 85%;
    margin: auto;
    height: 900px;
    margin-bottom: 30px;
}
.text-about{
    width: 85%;
    margin: auto;
    font-size: 38px;
    line-height: 50px;
}
.link-list{
    width: 85%;
    margin: auto;
    height: 400px;
    border: 1px rgba(200, 190, 190, 0.354) solid;
    margin-bottom: 30px;
}
.link-list ul a{
    font-size: 38px;
    line-height: 60px;
    color: rgb(218, 117, 117);
}
.text1-about {
    width: 85%;
    margin: auto;
    font-size: 38px;
    line-height: 50px;
    margin-bottom: 20px;
}
.text2-about{
    width: 85%;
    margin: auto;
    font-size: 38px;
    line-height: 50px;
}
.End-content{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.Log{
    font-size: 40px;
    text-align: center;
    font-weight: 650;
    width: 30%;
    background-color: rgb(218, 117, 117);
    height:100px ;
    line-height: 100px;
    margin:auto;
    margin-bottom: 30px;
}
.post{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 800px;
    margin: auto;
    display: flex;
}
.Read{
    width: 70%;
    margin: auto;
    height: 90px;
    text-align: center;
    line-height: 90px;
    font-size: 45px;
    font-weight: 700;
    background-color: aliceblue;
    opacity: 60%;
}
.cmt{
    width: 70%;
    height: 300px;
    margin: auto;
    margin-bottom: 50px;
}
.cmt input{
    width: 100%;
    height: 100%;
    font-size: 30px;
    border: 2px rgba(200, 190, 190, 0.354) solid ;
}
.DK{
    width: 30%;
    margin: auto;
    margin-bottom: 50px;
}